@import url(https://fonts.googleapis.com/css?family=Lora|Playfair+Display);

body {
    margin: 0px;
    font-size: 20px;
    background: url("threads/threadAssets/tiles.png") fixed #f7f7f7;
    font-family: "Playfair Display", serif;
}
form {
    text-align: center;
    background-color: #f7f7f7;
    margin: 0px;
    padding-bottom: 20px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4);
}
#threadTitle { 
    font-family: "Lora", serif;
    text-align: center;
    color: #666;
    border: none;
    background-color: #fff;
    width: 270px;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4) inset;
    margin-top: 10px;
    padding: 4px;
}
#threadAttachment {
    margin-top: 10px;
    padding: 100px 0 0 0;
    height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 2px;
    background: center no-repeat url("threads/threadAssets/attachment.png") #fff;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4) inset;
    background-size: 60px;
    width: 278px;
}
input[type="submit"] {
    font-family: "Lora", serif;
    text-align: center;
    color: #666;
    border: none;
    background-color: #fff;
    width: 120px;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4);
    padding: 5px;
    border-radius: 20px;
}
a {
    text-decoration: none;
    color: #777;
}
@keyframes singleThread {
    from {
        width: 500px;
    }
    to {
        width: 550px;
    }
    
}
.singleThread {
    width: 500px;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4);
    padding: 15px;
    margin: auto;
    margin-top: 15px;
}
.singleThread:hover {
    width: 550px;
    animation: singleThread;
    animation-duration: .5s;
}
