/* Color scheme:
    * Teal: rgba(30, 50, 70, 1)
    * White: rgba(255, 255, 255, .75)
    * Orange: rgba(255, 150, 0, 1)
    * Red: rgba(255, 0, 150, 1)
    * Green: rgba(0, 255, 150, 1)
    * Blue: rgba(0, 150, 255, 1)
*/

body {
    margin: 0px;
    font-size: 20px;
    background-color: rgba(30, 50, 70, 1);
    font-family: monospace, "Lucida Console", Monaco;
    color: rgba(255, 255, 255, .75);
}
h1 {
    color: rgba(255, 0, 150, 1);
    font-size: 50px;
    margin-left: 10px;
}
#titleUpload {
    margin-left: 10px;
}
#postBox {
    width: 400px;
    position: fixed;
    right: 0px;
    top: 0px;
    border-left: 2px solid rgba(255, 255, 255, .75);
    height: 100%;
}
textarea#postMessage {
    resize: vertical;
    width: 375px;
    height: 400px;
    margin: 10px;
    margin-bottom: 0px;
    border: 2px solid rgba(255, 255, 255, .75);
    border-radius: 2px;
    background: none;
    color: rgba(255, 255, 255, .75);
}
#postAttachment {
    margin-top: 13px;
    margin-left: 10px;
    display: inline-block;
    padding: 70px 91px 0 0;
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, .75);
    border-radius: 2px;
    background: center no-repeat url("attachment.png");
    background-size: 60px;
    width: 380px;
}
input[type="submit"]{
    margin-left: 10px;
    margin-top: 10px;
    padding: 4px;
    border: 2px solid rgba(255, 255, 255, .75);
    background: none;
    color: rgba(255, 150, 0, 1);
    font-family: monospace, "Lucidia Console", Monaco;
}
input[type="submit"]:hover {
    color: rgba(255, 0, 150, 1);
    box-shadow: 0px 0px 10px rgba(255, 0, 150, 1);
}
.singlePost {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    word-wrap: break-word;
    border: 2px solid rgba(255, 255, 255, .75);
    border-radius: 2px;
    width: calc(100% - 450px);
}
.postAttachment img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
