@import url(https://fonts.googleapis.com/css?family=Lora|Playfair+Display);

body {
    margin: 0px;
    font-size: 20px;
    background: url("tiles.png") fixed #f7f7f7;
    font-family: "Playfair Display", serif;
}
h1 {
    color: #777;
    font-size: 45px;
    text-align: center;
    width: calc(100% - 480px);
    font-weight: normal;
}
#titleUpload {
    text-align: center;
    width: calc(100% - 480px);
}
#titleUpload img {
    border: 10px solid #fff;
    background-color: #f7f7f7;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4);
}
#postBox {
    background-color: #f7f7f7;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4);
    margin: 10px;
    width: 400px;
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 10px;
    text-align: center;
}
#postMessage {
    resize: vertical;
    border: none;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4) inset;
    color: #777;
    font-family: "Lora", serif;
    width: 375px;
    height: 200px;
    margin: 10px;
    margin-bottom: 0px;
    background: #fff;
}
#postAttachment {
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4) inset;
    margin-top: 13px;
    margin-left: 7px;
    display: inline-block;
    padding: 70px 91px 0 0;
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
    background: center no-repeat url("attachment.png") #fff;
    background-size: 60px;
    width: 380px;
}
input[type="submit"]{
    font-family: "Lora", serif;
    text-align: center;
    color: #666;
    border: none;
    background-color: #fff;
    width: 120px;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4);
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.singlePost {
    font-family: Lora, serif;
    background-color: #fff;
    color: #777;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4);
    margin: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    width: calc(100% - 480px);
}
.postAttachment img {
    width: 50px;
    height: 50px;
    float: right;
    border: 5px solid #fff;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0,0,10,0.4);
    background-color: #f7f7f7;
}
